* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 67px 80px;
  margin-top: 10px;
}

.logo {
  align-items: center;
  justify-content: flex-start;
  padding: 12px 48px;
}

.logo img {
  width: 230px;
  height: auto;
}

.navigator {
  display: flex;
  gap: 6px;
  margin-left: 180px;
}

.navigator a {
  font-weight: 500;
  font-size: 21px;
  color: black;
  padding: 12px 40px;
}

.navigator .rectangle-restaurants {
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #fc8a06;
  border-radius: 30px;
  padding: 2px 45px;
}

.btn-login {
  font-weight: 500;
  font-size: 21px;
  color: black;
  padding: 22px 70px;
  display: flex;
  color: #ffffff;
  align-items: center;
  background: #03081f;
  border-radius: 120px;
  text-decoration: none;
  justify-content: center;
  margin-right: 80px;
}

.banner {
  position: relative;
  display: flex;
  background-image: url("./imagenes/hamburguer_principal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: 88%;
  margin: auto auto;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 19, 40, 0.9);
  z-index: 0;
  border-radius: 12px;
}

.banner-left {
  max-width: 60%;
  position: relative;
}

.slogan {
  font-size: 26px;
  opacity: 0.8;
  margin-top: 180px;
}

.title {
  font-size: 67px;
  margin: 10px 20px 30px 0;
}

.info-boxes {
  display: flex;
  gap: 18px;
}

.info-items {
  background: transparent;
  border: 2px solid white;
  padding: 14px 39px;
  border-radius: 50px;
  font-size: 23px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.info-items img {
  width: 38px;
  height: 37px;
  margin-left: -10px;
}

.info-schedule {
  background-color: #fc8a06;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 12px 50px;
  font-size: 22px;
  position: relative;
  width: 370px;
  top: 63px;
  left: -30px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.info-schedule img {
  width: 30px;
  height: 34px;
  margin-left: -10px;
}

.banner-right {
  position: relative;
}

.banner-right .hamburguer {
  width: 650px;
  height: 400px;
  border-radius: 15px;
}

.banner-right .rating {
  position: absolute;
  width: 150px;
  top: 235px;
  left: -60px;
  height: 175px;
  border-radius: 15px;
}

.message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 10px;
}

.message h2 {
  font-size: 40px;
  margin-left: -20px;
}

.search-box {
  display: flex;
  padding: 12px 40px;
}

.search-box button {
  background: transparent;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  border-radius: 50px;
  gap: 5px;
}

.search-box img {
  width: 27px;
  height: 27px;
  margin-left: 5px;
}

.search-box input {
  background: transparent;
  border: #ffffff;
  padding: 5px 10px;
  font-size: 22px;
}

.navigator-offers {
  display: flex;
  align-items: center;
  background-color: #fc8a06;
  color: #ffffff;
  padding: 28px 10px;
  gap: 53px;
  font-size: 25px;
}

.navigator-offers .reg {
  font-size: 12px;
  vertical-align: super;
}

.offers-button {
  background-color: #03081f;
  padding: 10px 40px;
  border-radius: 50px;
  margin-left: 92px;
}

.banner-offers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px;
}

.banner-offers .offer-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 32%;
  height: auto;
  padding: 10px 11px;
  margin-top: -16px;
  gap: 12px;
}

.offer-card div {
  z-index: 2;
  margin-right: 20px;
  margin-top: 70px;
  padding: 10px;
}

.discount {
  background: black;
  color: #ffffff;
  padding: 25px 19px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  font-size: 20px;
}

.offer-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: -70px;
  display: block;
}

.offer-card-content {
  position: absolute;
  left: 20px;
  bottom: 30px;
  margin-left: 17px;
  z-index: 2;
  color: white;
}

.offer-card-content p {
  font-size: 26px;
  color: #fc8a06;
}

.offer-card-content h3 {
  font-size: 40px;
  font-weight: 700;
}

.Title-hamburguer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding: 7px 10px;
  font-size: 36px;
}

.Title-hamburguer h2 {
  margin-left: 87px;
}

.section-hamburguer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2% 6%;
  gap: 45px 25px;
}

.article-burger {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  padding: 2% 4%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.article-burger-info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  gap: 22px;
  margin-left: 2%;
}

.article-burger-info h3 {
  font-size: 24px;
  font-weight: bold;
}

.article-burger-info p {
  font-size: 20px;
}

.article-burger-info span {
  font-size: 23px;
  font-weight: bold;
}

.article-burger-imagen {
  display: flex;
  position: relative;
  width: 55%;
}

.image-burger {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
  aspect-ratio: 6.1 / 6.2;
  padding: 4% 2%;
}

.container-imagen-mas {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 39%;
  height: 39%;
  border-top-left-radius: 59%;
  bottom: 9px; 
  right: 5px;


  background: linear-gradient(
    to bottom right,
    rgba(255,255,255,0.95),
    rgba(255,255,255,0.7)
  );
}

.container-imagen-mas img {
  width: 60%;
  height: auto;
}

